<h3 class="user">@{{user}}</h3><aside class="img-container"><img {{bind-attr src='avatar' }} /></aside>
{{mark-down text}}
<h4 class="skilled">Skills List</h4>
<ul class="skills">
	{{#each skill in skills}}
		{{#if skill.name}}
			<li>{{skill.name}}</li>
		{{else}}
			<li>{{skill}}</li>
		{{/if}}
	{{/each}}
</ul>
<p>Posted: {{dateString}}</p>
