<h3>{{user}}</h3><aside class="img-container"><img {{bind-attr src='avatar' }} /></aside>
<p>{{text}}</p>
<ul class="skills">
{{#each skill in skills}}
<li>{{skill}}</li>
{{/each}}
</ul>
<p>Posted: {{date}}</p>
