<div class='container new'>
  <h2>A new answer to the question</h2>
  {{#if isLoggedIn}}
  <h1>Thank you for answering {{user}}</h1>
  <form>
    <p>
      <label for="answer">Answer</label>
      {{textarea name='answer' rows=10 value=answerText required='true' placeholder='Your answer ipsum here' id='answer'}}
    </p>
  </form>
	<h3>Preview</h3>
	<h1>{{user}}</h1>
	<p>{{output}}</p>
	<button {{action 'post'}}>Post</button>
  {{else}}
    <button {{action 'login'}}>Login</button>
  {{/if}}
</div>
